week12/Projects/JAX-WS client/src/wsdl/localhost_8080/SimpleCalculator/SimpleCalculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.jax.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.jax.mycompany.com/" name="SimpleCalculator">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.jax.mycompany.com/" schemaLocation="http://localhost:8080/SimpleCalculator/SimpleCalculator?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="multiply">
<part name="parameters" element="tns:multiply"/>
</message>
<message name="multiplyResponse">
<part name="parameters" element="tns:multiplyResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="SimpleCalculator">
<operation name="add">
<input wsam:Action="http://ws.jax.mycompany.com/SimpleCalculator/addRequest" message="tns:add"/>
<output wsam:Action="http://ws.jax.mycompany.com/SimpleCalculator/addResponse" message="tns:addResponse"/>
</operation>
<operation name="multiply">
<input wsam:Action="http://ws.jax.mycompany.com/SimpleCalculator/multiplyRequest" message="tns:multiply"/>
<output wsam:Action="http://ws.jax.mycompany.com/SimpleCalculator/multiplyResponse" message="tns:multiplyResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.jax.mycompany.com/SimpleCalculator/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.jax.mycompany.com/SimpleCalculator/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="SimpleCalculatorPortBinding" type="tns:SimpleCalculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SimpleCalculator">
<port name="SimpleCalculatorPort" binding="tns:SimpleCalculatorPortBinding">
<soap:address location="http://localhost:8080/SimpleCalculator/SimpleCalculator"/>
</port>
</service>
</definitions>